    #index-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3px;
        grid-template-areas: 
        "gallery-p gallery-p gallery-p gallery-p gallery-p"
        "gallery-h2 gallery-h2 gallery-h2 gallery-h2 gallery-h2"
        "img1 img2 img3 img4 img5"
        "img6 img7 img3 img8 img9"
        "img10 img11 img12 img8 img13" 
        "img14 img15 img16 img17 img18"
        "img14 img15 img19 img17 img20"
        "img21 img22 img23 img24 img25"
        "img21 img26 img27 img28 img29"
        "img30 img31 img27 img28 img29" 
        "img32 img33 img34 img35 img36"
        "img37 img38 img39 img35 img36"
        "img40 img41 img39 img42 img43"
        "img40 img44 img45 img46 img47"
        "img48 img49 img50 img51 img52"
        "img48 img53 img54 img55 img56"
        "img57 img58 img59 img60 img56"
        "img61 img62 img63 img64 img65"
        "img66 img67 img68 img69 img70"
        "img66 img67 img71 img72 img73"
        "img74 img75 img76 img81 img73"
        "img82 img83 img83 img84 img85"
        "img86 img86 img87 img88 img89"
        "img90 img91 img92 img93 img94"
        "img95 img96 img97 img98 img99"
        "img100 img101 img97 img102 img103"
        "img104 img105 img106 img106 img107"
        "img108 img109 img110 img110 img111"
        "img112 img112 img113 img114 img115"
        "img116 img117 img118 img119 img120"
        "img121 img122 img122 img123 img124"
        "img125 img126 img127 img128 img124"
        "img125 img129 img130 img131 img132"
        "img133 img134 img135 img135 img136"
        "img137 img138 img139 img140 img136"
        "img137 img141 img141 img142 img143"
        "img144 img145 img146 img146 img147"
        "img144 img148 img148 img149 img150"
    };
    /*all images*/
    #index-gallery p{
        grid-area: gallery-p;
    }
    #index-gallery h2{
        grid-area: gallery-h2;
    }

    #index-gallery .gallery-img{
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    #index-gallery .img1{
        grid-area: img1;
        background-image: url(../img/thumbs/img1.png);
    }
    #index-gallery .img2{
        grid-area: img2;
        background-image: url(../img/thumbs/img2.jpg);
    }
    #index-gallery .img3{
        grid-area: img3;
        background-image: url(../img/thumbs/img3.jpg);
        height: 605px;
    }
    #index-gallery .img4{
        grid-area: img4;
        background-image: url(../img/thumbs/img4.jpg);
    }
    #index-gallery .img5{
        grid-area: img5;
        background-image: url(../img/thumbs/img5.jpg);
    }
    #index-gallery .img6{
        grid-area: img6;
        background-image: url(../img/thumbs/img6.jpg);
    }
    #index-gallery .img7{
        grid-area: img7;
        background-image: url(../img/thumbs/img7.jpg);
    }
    #index-gallery .img8{
        grid-area: img8;
        background-image: url(../img/thumbs/img8.jpg);
        height: 605px;
    }
    #index-gallery .img9{
        grid-area: img9;
        background-image: url(../img/thumbs/img9.jpg);
    }
    #index-gallery .img10{
        grid-area: img10;
        background-image: url(../img/thumbs/img10.jpg);
    }
    #index-gallery .img11{
        grid-area: img11;
        background-image: url(../img/thumbs/img11.jpg);
    }
    #index-gallery .img12{
        grid-area: img12;
        background-image: url(../img/thumbs/img12.jpg);
    }
    #index-gallery .img13{
        grid-area: img13;
        background-image: url(../img/thumbs/img13.jpg);
    }
    #index-gallery .img14{
        grid-area: img14;
        background-image: url(../img/thumbs/img14.jpg);
        height: 605px;
    }
    #index-gallery .img15{
        grid-area: img15;
        background-image: url(../img/thumbs/img15.jpg);
        height: 605px;
    }
    #index-gallery .img16{
        grid-area: img16;
        background-image: url(../img/thumbs/img16.jpg);
    }
    #index-gallery .img17{
        grid-area: img17;
        background-image: url(../img/thumbs/img17.jpg);
        height: 605px;
    }
    #index-gallery .img18{
        grid-area: img18;
        background-image: url(../img/thumbs/img18.jpg);
    }
    #index-gallery .img19{
        grid-area: img19;
        background-image: url(../img/thumbs/img19.jpg);
    }
    #index-gallery .img20{
        grid-area: img20;
        background-image: url(../img/thumbs/img20.jpg);
    }
    #index-gallery .img21{
        grid-area: img21;
        background-image: url(../img/thumbs/img21.jpg);
        height: 605px;
    }
    #index-gallery .img22{
        grid-area: img22;
        background-image: url(../img/thumbs/img22.jpg);
    }
    #index-gallery .img23{
        grid-area: img23;
        background-image: url(../img/thumbs/img23.jpg); 
    }
    #index-gallery .img24{
        grid-area: img24;
        background-image: url(../img/thumbs/img24.jpg);
    }
    #index-gallery .img25{
        grid-area: img25;
        background-image: url(../img/thumbs/img25.jpg);
    }
    #index-gallery .img26{
        grid-area: img26;
        background-image: url(../img/thumbs/img26.jpg);
    }
    #index-gallery .img27{
        grid-area: img27;
        background-image: url(../img/thumbs/img27.jpg);
        height: 605px;
    }
    #index-gallery .img28{
        grid-area: img28;
        background-image: url(../img/thumbs/img28.jpg);
        height: 605px;
    }
    #index-gallery .img29{
        grid-area: img29;
        background-image: url(../img/thumbs/img29.jpg);
        height: 605px;
    }
    #index-gallery .img30{
        grid-area: img30;
        background-image: url(../img/thumbs/img30.jpg);
    }
    #index-gallery .img31{
        grid-area: img31;
        background-image: url(../img/thumbs/img31.jpg);
    }
    #index-gallery .img32{
        grid-area: img32;
        background-image: url(../img/thumbs/img32.jpg);
    }
    #index-gallery .img33{
        grid-area: img33;
        background-image: url(../img/thumbs/img33.jpg);
    }
    #index-gallery .img34{
        grid-area: img34;
        background-image: url(../img/thumbs/img34.jpg);
    
    }
    #index-gallery .img35{
        grid-area: img35;
        background-image: url(../img/thumbs/img35.jpg);
        height: 605px;
    }
    #index-gallery .img36{
        grid-area: img36;
        background-image: url(../img/thumbs/img36.jpg);
        height: 605px;
    }
    #index-gallery .img37{
        grid-area: img37;
        background-image: url(../img/thumbs/img37.jpg);
    }
    #index-gallery .img38{
        grid-area: img38;
        background-image: url(../img/thumbs/img38.jpg);
    }
    #index-gallery .img39{
        grid-area: img39;
        background-image: url(../img/thumbs/img39.jpg);
        height: 605px;
    }
    #index-gallery .img40{
        grid-area: img40;
        background-image: url(../img/thumbs/img40.jpg);
        height: 605px;
    }
    #index-gallery .img41{
        grid-area: img41;
        background-image: url(../img/thumbs/img41.jpg);
    }
    #index-gallery .img42{
        grid-area: img42;
        background-image: url(../img/thumbs/img42.jpg);
    }
    #index-gallery .img43{
        grid-area: img43;
        background-image: url(../img/thumbs/img43.jpg);
    }
    #index-gallery .img44{
        grid-area: img44;
        background-image: url(../img/thumbs/img44.jpg);
    }
    #index-gallery .img45{
        grid-area: img45;
        background-image: url(../img/thumbs/img45.jpg);
    }
    #index-gallery .img46{
        grid-area: img46;
        background-image: url(../img/thumbs/img46.jpg);
    }
    #index-gallery .img47{
        grid-area: img47;
        background-image: url(../img/thumbs/img47.jpg);
    }
    #index-gallery .img48{
        grid-area: img48;
        background-image: url(../img/thumbs/img48.jpg);
        height: 605px;
    }
    #index-gallery .img49{
        grid-area: img49;
        background-image: url(../img/thumbs/img49.jpg);
    }
    #index-gallery .img50{
        grid-area: img50;
        background-image: url(../img/thumbs/img50.jpg);
    }
    #index-gallery .img51{
        grid-area: img51;
        background-image: url(../img/thumbs/img51.jpg);
    }
    #index-gallery .img52{
        grid-area: img52;
        background-image: url(../img/thumbs/img52.jpg);
    }
    #index-gallery .img53{
        grid-area: img53;
        background-image: url(../img/thumbs/img53.jpg);
    }
    #index-gallery .img54{
        grid-area: img54;
        background-image: url(../img/thumbs/img54.jpg);
    }
    #index-gallery .img55{
        grid-area: img55;
        background-image: url(../img/thumbs/img55.jpg);    
    }
    #index-gallery .img56{
        grid-area: img56;
        background-image: url(../img/thumbs/img56.jpg);
        height: 605px;
    }
    #index-gallery .img57{
        grid-area: img57;
        background-image: url(../img/thumbs/img57.jpg);
    }
        #index-gallery .img58{
            grid-area: img58;
            background-image: url(../img/thumbs/img58.jpg);
        }
        #index-gallery .img59{
            grid-area: img59;
            background-image: url(../img/thumbs/img59.jpg);
        }
        #index-gallery .img60{
            grid-area: img60;
            background-image: url(../img/thumbs/img60.jpg);
        }
        #index-gallery .img61{
            grid-area: img61;
            background-image: url(../img/thumbs/img61.jpg);
        }
        #index-gallery .img62{
            grid-area: img62;
            background-image: url(../img/thumbs/img62.jpg);
        }
        #index-gallery .img63{
            grid-area: img63;
            background-image: url(../img/thumbs/img63.jpg);
        }
        #index-gallery .img64{
            grid-area: img64;
            background-image: url(../img/thumbs/img64.jpg);
        }
        #index-gallery .img65{
            grid-area: img65;
            background-image: url(../img/thumbs/img65.jpg);
        }
        #index-gallery .img66{
            grid-area: img66;
            background-image: url(../img/thumbs/img66.jpg);
            height: 605px;
        }
        #index-gallery .img67{
            grid-area: img67;
            background-image: url(../img/thumbs/img67.jpg);
            height: 605px;
        }
        #index-gallery .img68{
            grid-area: img68;
            background-image: url(../img/thumbs/img68.jpg);
        }
        #index-gallery .img69{
            grid-area: img69;
            background-image: url(../img/thumbs/img69.jpg);
        }
        #index-gallery .img70{
            grid-area: img70;
            background-image: url(../img/thumbs/img70.jpg);
            
        }
        #index-gallery .img71{
            grid-area: img71;
            background-image: url(../img/thumbs/img71.jpg);
        }
        #index-gallery .img72{
            grid-area: img72;
            background-image: url(../img/thumbs/img72.jpg);
        }
        #index-gallery .img73{
            grid-area: img73;
            background-image: url(../img/thumbs/img73.jpg);
            height: 605px;
        }
        #index-gallery .img74{
            grid-area: img74;
            background-image: url(../img/thumbs/img74.jpg);
        }
        #index-gallery .img75{
            grid-area: img75;
            background-image: url(../img/thumbs/img75.jpg);
        }
        #index-gallery .img76{
            grid-area: img76;
            background-image: url(../img/thumbs/img76.jpg);
        }
        #index-gallery .img81{
            grid-area: img81;
            background-image: url(../img/thumbs/img81.jpg);
        }
        #index-gallery .img82{
            grid-area: img82;
            background-image: url(../img/thumbs/img82.jpg);
        }
        #index-gallery .img83{
            grid-area: img83;
            background-image: url(../img/thumbs/img83.jpg);
            width: 605px;
        }
        #index-gallery .img84{
            grid-area: img84;
            background-image: url(../img/thumbs/img84.jpg);
        }
        #index-gallery .img85{
            grid-area: img85;
            background-image: url(../img/thumbs/img85.jpg);
        }
        #index-gallery .img86{
            grid-area: img86;
            background-image: url(../img/thumbs/img86.jpg);
            width: 605px;
        }
        #index-gallery .img87{
            grid-area: img87;
            background-image: url(../img/thumbs/img87.jpg);
        }
        #index-gallery .img88{
            grid-area: img88;
            background-image: url(../img/thumbs/img88.jpg);
        }
        #index-gallery .img89{
            grid-area: img89;
            background-image: url(../img/thumbs/img89.jpg);
        }
        #index-gallery .img90{
            grid-area: img90;
            background-image: url(../img/thumbs/img90.jpg);
        }
        #index-gallery .img91{
            grid-area: img91;
            background-image: url(../img/thumbs/img91.jpg);
        }
        #index-gallery .img92{
            grid-area: img92;
            background-image: url(../img/thumbs/img92.jpg);
        }
        #index-gallery .img93{
            grid-area: img93;
            background-image: url(../img/thumbs/img93.jpg);
        }
        #index-gallery .img94{
            grid-area: img94;
            background-image: url(../img/thumbs/img94.jpg);
        }
        #index-gallery .img95{
            grid-area: img95;
            background-image: url(../img/thumbs/img95.jpg);
        }
        #index-gallery .img96{
            grid-area: img96;
            background-image: url(../img/thumbs/img96.jpg);
        }
        #index-gallery .img97{
            grid-area: img97;
            background-image: url(../img/thumbs/img97.jpg);
            height: 605px;
        }
        #index-gallery .img98{
            grid-area: img98;
            background-image: url(../img/thumbs/img98.jpg);
        }
        #index-gallery .img99{
            grid-area: img99;
            background-image: url(../img/thumbs/img99.jpg);
        }
        #index-gallery .img100{
            grid-area: img100;
            background-image: url(../img/thumbs/img100.jpg);
        }
        #index-gallery .img101{
            grid-area: img101;
            background-image: url(../img/thumbs/img101.jpg);
        }
        #index-gallery .img102{
            grid-area: img102;
            background-image: url(../img/thumbs/img102.jpg);
        }
        #index-gallery .img103{
            grid-area: img103;
            background-image: url(../img/thumbs/img103.jpg);
        }
        #index-gallery .img104{
            grid-area: img104;
            background-image: url(../img/thumbs/img104.jpg);
        }
        #index-gallery .img105{
            grid-area: img105;
            background-image: url(../img/thumbs/img105.jpg);
        }
        #index-gallery .img106{
            grid-area: img106;
            background-image: url(../img/thumbs/img106.jpg);
            width: 605px;
        }
        #index-gallery .img107{
            grid-area: img107;
            background-image: url(../img/thumbs/img107.jpg);
        }
        #index-gallery .img108{
            grid-area: img108;
            background-image: url(../img/thumbs/img108.jpg);
        }
        #index-gallery .img109{
            grid-area: img109;
            background-image: url(../img/thumbs/img109.jpg);
        }
        #index-gallery .img110{
            grid-area: img110;
            background-image: url(../img/thumbs/img110.jpg);
            width: 605px;
        }
        #index-gallery .img111{
            grid-area: img111;
            background-image: url(../img/thumbs/img111.jpg);
        }
        #index-gallery .img112{
            grid-area: img112;
            background-image: url(../img/thumbs/img112.jpg);
            width: 605px;
        }
        #index-gallery .img113{
            grid-area: img113;
            background-image: url(../img/thumbs/img113.jpg);
        }
        #index-gallery .img114{
            grid-area: img114;
            background-image: url(../img/thumbs/img114.jpg);
        }
        #index-gallery .img115{
            grid-area: img115;
            background-image: url(../img/thumbs/img115.jpg);
        }
        #index-gallery .img116{
            grid-area: img116;
            background-image: url(../img/thumbs/img116.jpg);
        }
        #index-gallery .img117{
            grid-area: img117;
            background-image: url(../img/thumbs/img117.jpg);
        }
        #index-gallery .img118{
            grid-area: img118;
            background-image: url(../img/thumbs/img118.jpg);
        }
        #index-gallery .img119{
            grid-area: img119;
            background-image: url(../img/thumbs/img119.jpg);
        }
        #index-gallery .img120{
            grid-area: img120;
            background-image: url(../img/thumbs/img120.jpg);
        }
        #index-gallery .img121{
            grid-area: img121;
            background-image: url(../img/thumbs/img121.jpg);
        }
        #index-gallery .img122{
            grid-area: img122;
            background-image: url(../img/thumbs/img122.jpg);
            width: 605px;
        }
        #index-gallery .img123{
            grid-area: img123;
            background-image: url(../img/thumbs/img123.jpg);
        }
        #index-gallery .img124{
            grid-area: img124;
            background-image: url(../img/thumbs/img124.jpg);
            height: 605px;
        }
        #index-gallery .img125{
            grid-area: img125;
            background-image: url(../img/thumbs/img125.jpg);
            height: 605px;
        }
        #index-gallery .img126{
            grid-area: img126;
            background-image: url(../img/thumbs/img126.jpg);
        }
        #index-gallery .img127{
            grid-area: img127;
            background-image: url(../img/thumbs/img127.jpg);
        }
        #index-gallery .img128{
            grid-area: img128;
            background-image: url(../img/thumbs/img128.jpg);
        }
        #index-gallery .img129{
            grid-area: img129;
            background-image: url(../img/thumbs/img129.jpg);
        }
        #index-gallery .img130{
            grid-area: img130;
            background-image: url(../img/thumbs/img130.jpg);
        }
        #index-gallery .img131{
            grid-area: img131;
            background-image: url(../img/thumbs/img131.jpg);
        }
        #index-gallery .img132{
            grid-area: img132;
            background-image: url(../img/thumbs/img132.jpg);
        }
        #index-gallery .img133{
            grid-area: img133;
            background-image: url(../img/thumbs/img133.jpg);
        }
        #index-gallery .img134{
            grid-area: img134;
            background-image: url(../img/thumbs/img134.jpg);
        }
        #index-gallery .img135{
            grid-area: img135;
            background-image: url(../img/thumbs/img135.jpg);
            width: 605px;
        }
        #index-gallery .img136{
            grid-area: img136;
            background-image: url(../img/thumbs/img136.jpg);
            height: 605px;
        }
        #index-gallery .img137{
            grid-area: img137;
            background-image: url(../img/thumbs/img137.jpg);
            height: 605px;
        }
        #index-gallery .img138{
            grid-area: img138;
            background-image: url(../img/thumbs/img138.jpg);
        }
        #index-gallery .img139{
            grid-area: img139;
            background-image: url(../img/thumbs/img139.jpg);
        }
        #index-gallery .img140{
            grid-area: img140;
            background-image: url(../img/thumbs/img140.jpg);
        }
        #index-gallery .img141{
            grid-area: img141;
            background-image: url(../img/thumbs/img141.jpg);
            width: 605px;
        }
        #index-gallery .img142{
            grid-area: img142;
            background-image: url(../img/thumbs/img142.jpg);
        }
        #index-gallery .img143{
            grid-area: img143;
            background-image: url(../img/thumbs/img143.jpg);
        }
        #index-gallery .img144{
            grid-area: img144;
            background-image: url(../img/thumbs/img144.jpg);
            height: 605px;
        }
        #index-gallery .img145{
            grid-area: img145;
            background-image: url(../img/thumbs/img145.jpg);
        }
        #index-gallery .img146{
            grid-area: img146;
            background-image: url(../img/thumbs/img146.jpg);
            width: 605px;
        }
        #index-gallery .img147{
            grid-area: img147;
            background-image: url(../img/thumbs/img147.jpg);
        }
        #index-gallery .img148{
            grid-area: img148;
            background-image: url(../img/thumbs/img148.jpg);
            width: 605px;
        }
        #index-gallery .img149{
            grid-area: img149;
            background-image: url(../img/thumbs/img149.jpg);
        }
        #index-gallery .img150{
            grid-area: img150;
            background-image: url(../img/thumbs/img150.jpg);
        }
    /*all images title*/
    .gallery-img div{
        width: 100%;
        height: 100%;
        background-color:#000000;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-img a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #ffffffff;
        text-decoration: none;
        text-transform: uppercase;
    }   
    .gallery-img div:hover {
        opacity: 0.8;
        transition: all ease-in-out 100ms;
    }

    /*new popup windown when click on*/
    
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

/* this is the next img*/

.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover{
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover{
    opacity: 0.8;
    
}